<!DOCTYPE html>

<html>

  <head>
    <title>Code Ninjas Server</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="main">
      <h1>Code Ninjas</h1> 
      <h2>server online</h2>
      <p>Hello! You've managed to find the Code Ninjas server.</p>
      <p><a href="https://codeninjas-nc5.herokuapp.com/">Play v1</a></p>
      <p><a href="https://codeninjas-v2.herokuapp.com/">Play v2</a></p>
    </div>
  </body>

</html>