<!DOCTYPE html>

<html>

  <head>
    <title>Code Ninjas API</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="main">
      <h1>Code Ninjas</h1>
      <h2>Welcome to the API!</h2>
      <p>Visit <a href="/api">/api</a> to see all available endpoints.</p>
      <p><a href="https://codeninjas-nc5.herokuapp.com">Play Code Ninjas v1: the Northcoders project</a></p>
      <p><a href="https://codeninjas-v2.herokuapp.com">Play Code Ninjas v2: now with more ninjas</a></p>
    </div>
  </body>

</html>
